.card-row {
  padding:10px;
}

.card-col {
  padding:10px;
}

.heading-row {
  padding:25px;
}

.page-div {
  display: inline;
}

.welcome-heading {
	padding-top:20px;
	text-align:left;
}

.home-background {
  width: 100vw;
  height: 100vh;
}