.bg-gradient {
	background: linear-gradient(-45deg, #FECACA, #FBCFE8, #BFDBFE, #A7F3D0);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.profile-bg {
	position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-bg::before {    
	content: "";
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
}

/* Selection color is tailwindcss green-300 */
::selection {
	background: #6EE7B7; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
	background: #6EE7B7; /* Gecko Browsers */
  }