.masthead {
  min-height: 500px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url('../../images/landing3.png');
  background-repeat: repeat;
  color: #E6FAFC;
}

.home-background {
  width: 100vw;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

