.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: #2e2f32;
  color: #E6FAFC;
}

.home-background {
  width: 100vw;
  height: 100vh;
}

