body{
	background: #78C9AB;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background: #78C9AB;
  /* background-image: url('../images/base_background_img.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-background {
  width: 100vw;
  height: 100vh;
}
