.playlist-img {
	border-radius: 8px;
	  max-width:400px;
	  max-height:400px;
	  min-width:100px;
	  min-height:100px;
	display: block;
}

.playlist {
	padding: 5px;
	display: flex;
    flex: 1 1 auto;
}

.playlist-linkhover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
} 

.playlist-card {
	padding: 10px;
	background-color: #1F312E;
}

.card-img {
	background: #868e96;
	width: auto;
    height: 15vw;
    object-fit: cover;
}

.card-div {
	padding: 10px;
}

