.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../imgs/base_background_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}